* {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: pink;
}

h1 {
    font-size: 4em;
}

button {
    width: 703px;
    height: 30px;
    margin-top: 10px;
    background-color: pink;
    border: 1px solid white;
    cursor: pointer;
}

button:hover {
    background-color: rgb(224, 178, 186);
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}